@import url("./rsh-dark.css") layer(syntax-highlighter);
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: dim;
}

:root {
	--primary: blue;
}

.overflow-y-auto {
	scrollbar-gutter: stable;
}

.ai-thinking {
	background: linear-gradient(90deg, #00ffe0, #0072ff, #00ffe0);
	background-size: 200% auto;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
	to {
		background-position: 200% center;
	}
}
