code[class*="language-"] {
		color: white;
		hyphens: none;
		tab-size: 4;
		font-size: 1em;
		word-wrap: normal;
		background: none;
		text-align: left;
		word-break: normal;
		-ms-hyphens: none;
		-o-tab-size: 4;
		font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
		line-height: 1.5;
		text-shadow: 0 -0.1em 0.2em black;
		white-space: pre;
		-moz-hyphens: none;
		word-spacing: normal;
		-moz-tab-size: 4;
		-webkit-hyphens: none;
	}
	pre[class*="language-"] {
		color: white;
		border: 0.3em solid hsl(30, 20%, 40%);
		margin: 0.5em 0;
		hyphens: none;
		padding: 1em;
		overflow: auto;
		tab-size: 4;
		font-size: 1em;
		word-wrap: normal;
		background: hsl(30, 20%, 25%);
		box-shadow: 1px 1px 0.5em black inset;
		text-align: left;
		word-break: normal;
		-ms-hyphens: none;
		-o-tab-size: 4;
		font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
		line-height: 1.5;
		text-shadow: 0 -0.1em 0.2em black;
		white-space: pre;
		-moz-hyphens: none;
		word-spacing: normal;
		-moz-tab-size: 4;
		border-radius: 0.5em;
		-webkit-hyphens: none;
	}
	:not(pre) > code[class*="language-"] {
		border: 0.13em solid hsl(30, 20%, 40%);
		padding: 0.15em 0.2em 0.05em;
		background: hsl(30, 20%, 25%);
		box-shadow: 1px 1px 0.3em -0.1em black inset;
		white-space: normal;
		border-radius: 0.3em;
	}
	.comment {
		color: hsl(30, 20%, 50%);
	}
	.prolog {
		color: hsl(30, 20%, 50%);
	}
	.doctype {
		color: hsl(30, 20%, 50%);
	}
	.cdata {
		color: hsl(30, 20%, 50%);
	}
	.punctuation {
		-opacity: 0.7;
	}
	.namespace {
		-opacity: 0.7;
	}
	.property {
		color: hsl(350, 40%, 70%);
	}
	.tag {
		color: hsl(350, 40%, 70%);
	}
	.boolean {
		color: hsl(350, 40%, 70%);
	}
	.number {
		color: hsl(350, 40%, 70%);
	}
	.constant {
		color: hsl(350, 40%, 70%);
	}
	.symbol {
		color: hsl(350, 40%, 70%);
	}
	.selector {
		color: hsl(75, 70%, 60%);
	}
	.attr-name {
		color: hsl(75, 70%, 60%);
	}
	.string {
		color: hsl(75, 70%, 60%);
	}
	.char {
		color: hsl(75, 70%, 60%);
	}
	.builtin {
		color: hsl(75, 70%, 60%);
	}
	.inserted {
		color: hsl(75, 70%, 60%);
	}
	.operator {
		color: hsl(40, 90%, 60%);
	}
	.entity {
		color: hsl(40, 90%, 60%);
		cursor: help;
	}
	.url {
		color: hsl(40, 90%, 60%);
	}
	.language-css .token.string {
		color: hsl(40, 90%, 60%);
	}
	.style .token.string {
		color: hsl(40, 90%, 60%);
	}
	.variable {
		color: hsl(40, 90%, 60%);
	}
	.atrule {
		color: hsl(350, 40%, 70%);
	}
	.attr-value {
		color: hsl(350, 40%, 70%);
	}
	.keyword {
		color: hsl(350, 40%, 70%);
	}
	.regex {
		color: #e90;
	}
	.important {
		color: #e90;
		font-weight: bold;
	}
	.bold {
		font-weight: bold;
	}
	.italic {
		font-style: italic;
	}
	.deleted {
		color: red;
	}